<section class="investment-table" aria-labelledby="investment-portfolio-title">
  <div [ngClass]="[containerClass, 'investment-inner']">
    <!-- Section Header (dynamic) -->
    <div *ngIf="showHeader" class="row mb-4">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center investment-header">
          <div class="d-flex align-items-center gap-2">
            <h3 id="investment-portfolio-title" class="investment-title mb-0">Investment Portfolio</h3>
            <img src="./../../../../assets/icons1/Info-Black.png" alt="Investment Portfolio" width="22" height="22" data-bs-toggle="tooltip" data-bs-placement="top" title="The detailed list of current investments held by the fund.">
          </div>

          <button class="btn btn-dark d-flex align-items-center investment-sort" type="button"
            aria-label="Sort investments">
            <span class="sort-icon">
              <img src="../../../../assets/icons/Sort.png" height="24" width="24" alt="Sort Icon">
            </span>

            <span class="sort-divider" aria-hidden="true"></span>

            <span class="sort-label">Sort by</span>
          </button>

        </div>
      </div>
    </div>

    <!-- Portfolio Summary (dynamic) -->
    <div *ngIf="showPortfolioSummary" class="portfolio-summary-container">
      <div class="portfolio-summary">
        <div class="summary-item">
          <div class="summary-label">Total Holdings</div>
          <div class="summary-value">{{ portfolioSummary.totalHoldings ? (portfolioSummary.totalHoldings  | getCurrencyByUnits:true:true:2:true) : '-' }}</div>
        </div>
        <div class="summary-item">
          <div class="summary-label">Total Investment</div>
          <div class="summary-value">{{ portfolioSummary.totalInvestment ? (portfolioSummary.totalInvestment  | getCurrencyByUnits:true:true:2:true) : '-' }}</div>
        </div>
        <div class="summary-item">
          <div class="summary-label">Total Market Value</div>
          <div class="summary-value">{{ portfolioSummary.totalMarketValue ? (portfolioSummary.totalMarketValue  | getCurrencyByUnits:true:true:2:true) : '-' }}</div>
        </div>
        <div class="summary-item ">
          <div class="summary-label d-flex align-items-center gap-1">
            Total Gross IRR
            <img src="./../../../../assets/icons1/Info-Black-Portfolio.png" alt="Weight Info" width="16" height="16" data-bs-toggle="tooltip" data-bs-placement="top" title="The overall annualized return of the fund before fees, showing performance across all investments.">
          </div>
          <div class="summary-value">{{ portfolioSummary.totalGrossIRR ? (portfolioSummary.totalGrossIRR  | getCurrencyByUnits:true:true:2:true) : '-' }}</div>
        </div>
        <div class="summary-item">
          <div class="summary-label d-flex align-items-center gap-1">
            Total Gross MOIC
            <img src="./../../../../assets/icons1/Info-Black-Portfolio.png" alt="Weight Info" width="16" height="16" data-bs-toggle="tooltip" data-bs-placement="top" title="The overall multiple of money invested versus money gained, before fees.">
          </div>
          <div class="summary-value">{{ portfolioSummary.totalGrossMOIC ? (portfolioSummary.totalGrossMOIC  | getCurrencyByUnits:true:true:2:true) : '-' }}</div>
        </div>
        <div class="summary-item">
          <div class="summary-label">Total Returns</div>
          <div class="summary-value">{{ portfolioSummary.totalReturns ? (portfolioSummary.totalReturns  | getCurrencyByUnits:true:true:2:true) : '-' }}</div>
        </div>
      </div>
    </div>

    <!-- Static Content for web-dashboard -->
    <div *ngIf="showStaticContent" class="investment-static-content">
      <div class="section-header">
        <div class="section-title-container">
          <h3 class="section-title">Top 5 Company Holdings</h3>
          <img src="./../../../../assets/icons1/Info-Black.png" alt="Top 5 Company Holdings" width="22" height="22" data-bs-toggle="tooltip" data-bs-placement="top" title="The five largest investments in the portfolio, ranked by size or value.">
        </div>

        <div class="view-all-container" routerLink="/portfolio">
          <app-dashboard-navigation-button routerLink="portfolio" [showWhiteHover]="true" label="View Portfolio"></app-dashboard-navigation-button>
          <!-- <button class="view-all-text">View Portfolio</button>
          <div class="metric-label-seperator"></div>
          <button class="view-all-arrow" aria-label="View Portfolio">
            <img src="./../../../../assets/icons1/RightCaret.png" height="20" alt="View Portfolio">
          </button> -->
        </div>
      </div>
    </div>

    <div class="investment-data">
      <!-- <table class="table">
        <thead>
          <tr class="table-header-row">
            <th scope="col" class="company-industry-header">Company and Industry</th>
            <th scope="col" class="table-header-cell">Industry</th>
            <th scope="col" class="table-header-cell numeric-header text-right">Investment</th>
            <th scope="col" class="table-header-cell numeric-header text-right">Market Value</th>
            <th scope="col" class="table-header-cell numeric-header text-right">IRR
             <img src="./../../../../assets/icons1/Info-Black-Portfolio.png" alt="IRR Info" width="16" height="16" >
            </th>
            <th scope="col" class="table-header-cell numeric-header text-right">MOIC
              <img src="./../../../../assets/icons1/Info-Black-Portfolio.png" alt="MOIC Info" width="16" height="16" >
            </th>
            <th scope="col" class="table-header-cell numeric-header" style="padding-left: 25px;">Weight
              <img src="./../../../../assets/icons1/Info-Black-Portfolio.png" alt="Weight Info" width="16" height="16" >
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of limitedCompanies" class="company-row">
            <td class="company-cell">
              <div class="d-flex align-items-center gap-3">
                <div class="company-logo d-flex align-items-center justify-content-center">
                  <img [src]="company.logo" [alt]="company.name + ' logo'" loading="lazy" />
                </div>
                <div class="company-info">
                  <div class="company-name">{{ company.name }}</div>
                </div>
              </div>
            </td>
            <td class="data-cell" data-label="Industry">{{ company.industry }}</td>
            <td class="data-cell amount-cell text-right" data-label="Investment">
              <div class="value-stack amount-stack">
                <span class="value-amount">
                  {{ company.unrealisedCost ? (company.unrealisedCost | getCurrencyByUnits:true:true) : '-' }}
                </span> </div>
            </td>
            <td class="data-cell amount-cell text-right" data-label="Market Value">
              <div class="value-stack amount-stack"> <span class="value-amount">
                  {{company.unrealisedCost ? (company.unrealisedCost | getCurrencyByUnits:true:true) : '-' }}
                </span>
               </div>
            </td>
            <td class="data-cell percentage-cell text-right" data-label="IRR">
              <div class="value-stack percentage-stack">
                <span class="value-amount">
                  {{ company.unrealisedIRR ? (company.unrealisedIRR | number : '1.2-2') + '%' : '-' }}
                </span>
               </div>
            </td>
            <td class="data-cell percentage-cell text-right" data-label="MOIC">
              <div class="value-stack percentage-stack">
                <span class="value-amount">
                  {{ company.unrealisedMOIC ? (company.unrealisedMOIC  | number : '1.2-2' ) : '-' }}
                </span>
               </div>
            </td>
            <td class="weight-cell" data-label="Weight">
              <div class="value-stack weight-text">
                <span class="value-amount">
                  {{ company.weight ? (company.weight | number : '1.2-2' ) + '%' : '-' }}
                </span>
               </div>
              <div class="progress" *ngIf="company.weight">
                <div class="progress-bar" role="progressbar"
                  [style.width.%]="company.weight"
                  [attr.aria-valuenow]="company.weight" aria-valuemin="0" aria-valuemax="100"
                  [attr.aria-label]="'Weight: ' + company.weight + company.weight"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table> -->
      <table class="investmentTable">
        <thead>
          <tr>
            <th class="icon-company">Company and Industry</th>
            <th class="industry">Industry</th>
            <th class="investment text-right">Investment</th>
            <th class="marketValue text-right">Market Value</th>
            <th class="irr  text-right">IRR&nbsp;&nbsp;<img src="./../../../../assets/icons1/Info-Black-Portfolio.png"
                alt="IRR Info" width="16" height="16" data-bs-toggle="tooltip" data-bs-placement="top" title="A measure of how quickly investments are growing, expressed as an annual percentage return."></th>
            <th class="moic  text-right">MOIC&nbsp;&nbsp;<img src="./../../../../assets/icons1/Info-Black-Portfolio.png"
                alt="IRR Info" width="16" height="16" data-bs-toggle="tooltip" data-bs-placement="top" title="Shows how many times the invested money has grown (e.g., 2.0x means doubling the investment)."></th>
            <th class="weight  text-left">weight&nbsp;&nbsp;<img src="./../../../../assets/icons1/Info-Black-Portfolio.png"
                alt="IRR Info" width="16" height="16" data-bs-toggle="tooltip" data-bs-placement="top" title="The percentage share of each company or investment within the overall portfolio."></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of limitedCompanies">
            <td class="icon-company">
              <div class="d-flex align-items-center">
                <div class="company-logo d-flex align-items-center justify-content-center">
                  <img [src]="company.logo" [alt]="company.name + ' logo'" loading="lazy" />
                </div>
                <div class="company-info1">
                  <div class="company-name1">{{ company.name }}</div>
                </div>
              </div>
            </td>
            <td class="industry">{{ company.industry }}</td>
            <td class="investment text-right">
              {{company.unrealisedCost ? (company.unrealisedCost | getCurrencyByUnits:true:true:2:true) : '-' }}
            </td>
            <td class="marketValue  text-right">
              {{company.unrealisedPrice ? (company.unrealisedPrice | getCurrencyByUnits:true:true:2:true) : '-' }}
            </td>
            <td class="irr  text-right">
              {{ company.unrealisedIRR ? (company.unrealisedIRR | number : '1.2-2') + ' %' : '-' }}
            </td>
            <td class="moic  text-right">
              <span class="value-amount">
                {{ company.unrealisedMOIC ? (company.unrealisedMOIC | number : '1.2-2' ) : '-' }}
              </span>
            </td>
            <td class="weight  text-left">
              <div class="value-stack weight-text">
                <span class="value-amount">
                  {{ company.weight ? (company.weight | number : '1.2-2' ) + ' %' : '-' }}
                </span>
              </div>
              <div class="progress margin-top6" *ngIf="company.weight">
                <div class="progress-bar" role="progressbar" [style.width.%]="company.weight"
                  [attr.aria-valuenow]="company.weight" aria-valuemin="0" aria-valuemax="100"
                  [attr.aria-label]="'Weight: ' + company.weight + company.weight"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>