<div class="fund-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Fund Overview</h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <p-card header="Fund Selection" class="fund-selector-card">
          <div class="fund-list">
            <div *ngFor="let fund of funds" 
                 class="fund-item"
                 [class.selected]="selectedFund?.name === fund.name"
                 (click)="selectFund(fund)">
              <div class="fund-info">
                <h4 class="fund-name">{{ fund.name }}</h4>
                <p class="fund-type">{{ fund.type }}</p>
              </div>
              <div class="fund-metrics">
                <span class="fund-value">{{ fund.value }}</span>
                <span class="fund-change" 
                      [class.positive]="fund.changeType === 'positive'"
                      [class.negative]="fund.changeType === 'negative'">
                  {{ fund.change }}
                </span>
              </div>
            </div>
          </div>
        </p-card>
      </div>
      
      <div class="col-lg-8 col-md-6">
        <p-card *ngIf="selectedFund" 
                [header]="selectedFund.name" 
                class="fund-details-card">
          <div class="fund-summary">
            <div class="row">
              <div class="col-md-3 col-6">
                <div class="metric-item">
                  <label>Fund Size</label>
                  <span class="metric-value">{{ selectedFund.value }}</span>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="metric-item">
                  <label>Performance</label>
                  <span class="metric-value" 
                        [class.positive]="selectedFund.changeType === 'positive'"
                        [class.negative]="selectedFund.changeType === 'negative'">
                    {{ selectedFund.change }}
                  </span>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="metric-item">
                  <label>Strategy</label>
                  <span class="metric-value">{{ selectedFund.type }}</span>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="metric-item">
                  <label>Status</label>
                  <span class="metric-value status-active">Active</span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="fund-actions mt-3">
            <button pButton 
                    type="button" 
                    label="View Details" 
                    class="p-button-primary me-2">
            </button>
            <button pButton 
                    type="button" 
                    label="Download Report" 
                    class="p-button-outlined">
            </button>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>