<div class="dashboard-container">
  <!-- Navbar Section -->
  <app-navbar></app-navbar>
  
  <!-- Main Content -->
  <div class="dashboard-content">
    <!-- Fund Section -->
    <app-fund></app-fund>
    
    <!-- Overview Section -->
    <app-overview></app-overview>
    
    <!-- Performance Section -->
    <app-performance></app-performance>
    
    <!-- Online Seminar Section -->
    <app-online-seminar></app-online-seminar>
    
    <!-- Portfolio Section -->
    <app-portfolio></app-portfolio>
    
    <!-- Documents Section -->
    <app-documents></app-documents>
    
    <!-- Insight Section -->
    <app-insight></app-insight>
    
    <!-- Newsletter Section -->
    <app-newsletter></app-newsletter>
  </div>
  
  <!-- Footer Section -->
  <app-footer></app-footer>
</div>