.view-all-text {
  height: 36px;
  background: #122334;
  color: #fff;
  font-family: 'Instrument Sans', -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.2s ease;
  padding: 14px;
  border: 1px solid #FFF;
}

.view-all-arrow {
  width: 36px;
  height: 36px;
  background: #122334;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  transition: all 0.2s ease;
  border: 1px solid #FFF;
  svg {
    width: 25px;
    height: 25px;
  }
}
.summit-cta-text {
  height: 36px;
  background: #fff;
  color: #000;
  font-family: 'Instrument Sans', -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.2s ease;
  padding: 14px;
  border: 1px solid #122334;
}

.summit-cta-arrow {
  width: 36px;
  height: 36px;
  background: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  transition: all 0.2s ease;
  border: 1px solid #122334;

  svg {
    width: 25px;
    height: 25px;
  }
}

.view-all-arrow>img{
  height: 14px;
  width: 8px;
}