<section class="latest-documents">
  <div class="documents-container">
    <!-- Header -->
    <div class="section-header">
      <div class="section-title-container">
        <h3 class="section-title">Latest Documents</h3>
        <img src="./../../../assets/icons/Info.png" alt="Latest Documents" width="22" height="22">
      </div>

      <div class="view-all-container" routerLink="/documents">
        <app-dashboard-navigation-button routerLink="documents" class="view-all-container" (onClickChild)="onViewAllDocuments()" [showWhiteHover]="true" label="View all documents"></app-dashboard-navigation-button>
        <!-- <button class="view-all-text" (click)="onViewAllDocuments()">View all documents</button>
        <button class="view-all-arrow" (click)="onViewAllDocuments()">
           <img src="./../../../assets/icons/CaretRightWhite.png" alt="View all documents" width="22" height="22">
        </button> -->
      </div>
    </div>

    <!-- Documents Grid (max 4 documents, no view toggle) -->
    <app-documents-grid 
      [maxDocuments]="4"
      [showViewToggle]="false">
    </app-documents-grid>
  </div>
</section>
