<section class="investment-overview">
  <div class="overview-header">
      <h3 class="overview-title">Investment Overview</h3>
      <img src="./../../../assets/icons/Info.png" alt="Investment Overview" width="22" height="22">
    </div>

    <!-- Main Investment Metrics -->
    <div class="investment-main-metrics">
      <!-- Total Investment Card -->
      <div class="main-metric-card border-right">
        <div class="metric-header">
          <div class="metric-icon">
            <img src="./../../../assets/icons/Stack.png" alt="Total Investment" width="28" height="28">
          </div>
          <div class="metric-label">Total Investment</div>
        </div>
        <div class="metric-value">{{ (overviewData?.capital_summary?.total_value | getCurrencyByUnits:true:true) || 'N/A' }}</div>
        <div class="metric-submetrics">
          <div class="submetric border-right">
            <div class="submetric-label">Committed Amt</div>
            <div class="submetric-value">{{ (overviewData?.capital_summary?.total_commitment | getCurrencyByUnits:true:true) || 'N/A' }}</div>
          </div>
          <div class="submetric border-right">
            <div class="submetric-label">Units</div>
            <div class="submetric-value">{{ (overviewData?.metadata?.units | getCurrencyByUnits:true:true) || 'N/A' }}</div>
          </div>
          <div class="submetric">
            <div class="submetric-label">Drawndowns</div>
            <!-- <div class="submetric-value">{{ (overviewData?.capital_summary?.drawndowns | currency) || 'N/A' }}</div> -->
          </div>
        </div>
      </div>

      <!-- Current Value Card -->
      <div class="main-metric-card">
        <div class="metric-header">
          <div class="metric-icon">
            <img src="./../../../assets/icons/Coins.png" alt="Current Value" width="28" height="28">
          </div>
          <div class="metric-label">Current Value</div>
        </div>
        <div class="metric-value">{{ (overviewData?.capital_summary?.total_value | getCurrencyByUnits:true:true) || 'N/A' }}</div>
        <div class="metric-submetrics">
          <div class="submetric border-right">
            <div class="submetric-label">Distribution</div>
            <div class="submetric-value">{{ (overviewData?.capital_summary?.distribution | getCurrencyByUnits:true:true) || 'N/A' }}</div>
          </div>
          <!-- <div class="separator"></div> -->
          <div class="submetric border-right">
            <div class="submetric-label">Residual Value</div>
            <div class="submetric-value">{{ (overviewData?.metadata?.residual_value | getCurrencyByUnits:true:true) || 'N/A' }}</div>
          </div>
          <!-- <div class="separator"></div> -->
          <div class="submetric">
            <div class="submetric-label">TVPI</div>
            <div class="submetric-value">{{ (overviewData?.metadata?.tvpi | getCurrencyByUnits:true:true) || 'N/A' }}</div>
          </div>
        </div>
      </div>

      <!-- Gross IRR Card -->
      <div class="main-metric-card gross-irr-card">
        <div class="metric-header">
          <div class="metric-icon">
            <img src="./../../../assets/icons/ChartLine.png" alt="Current Value" width="28" height="28">
          </div>
          <div class="metric-label">Gross IRR</div>
        </div>
        <div class="metric-value">{{ (overviewData?.metadata?.xirr | getCurrencyByUnits:true:true) || 'N/A' }}</div>
        <div class="metric-description">
          Indicates the fund's overall performance from invested capital across companies.
        </div>
      </div>
    </div>
</section>
