<section class="investment-overview">
  <div class="overview-header">
      <h3 class="overview-title">Investment Overview</h3>
      <img src="./../../../assets/icons1/Info-Black.png" alt="Investment Overview" width="22" height="22" data-bs-toggle="tooltip" data-bs-placement="top" title="A snapshot of the fund’s key information, including strategy, size, and performance highlights.">
    </div>

    <!-- Main Investment Metrics -->
    <div class="investment-main-metrics">
      <!-- Total Investment Card -->
      <div class="main-metric-card padding-top21">
        <div class="metric-header">
          <div class="metric-icon">
            <img src="./../../../assets/icons1/Stack.png" alt="Total Investment" width="28" height="28">
          </div>
          <div class="metric-label-seperator"></div>
          <div class="metric-label">Total Investment</div>
        </div>
        <div class="metric-value">{{ overviewData?.capital_summary?.funded ? (overviewData?.capital_summary?.funded | getCurrencyByUnits:true:true) : '-' }}</div>
        <div class="metric-submetrics">
          <div class="submetric border-right">
            <div class="submetric-label">Committed Amt</div>
            <div class="submetric-value">{{ overviewData?.capital_summary?.total_commitment ? (overviewData?.capital_summary?.total_commitment | getCurrencyByUnits:true:true) : '-' }}</div>
          </div>
          <div class="submetric">
            <div class="submetric-label">Units</div>
            <div class="submetric-value">{{ overviewData.metadata.units }}</div>
          </div>
        </div>
      </div>
      <div class="main-metric-card-seperator"></div>
      <!-- Current Value Card -->
      <div class="main-metric-card padding-top21">
        <div class="metric-header">
          <div class="metric-icon">
            <img src="./../../../assets/icons1/Coins.png" alt="Current Value" width="28" height="28">
          </div>
           <div class="metric-label-seperator"></div>
          <div class="metric-label">Current Value</div>
        </div>
        <div class="metric-value">{{ (overviewData?.capital_summary?.total_value | getCurrencyByUnits:true:true) || '-' }}</div>
        <div class="metric-submetrics">
          <div class="submetric border-right">
            <div class="submetric-label">Distribution</div>
            <div class="submetric-value">{{ overviewData?.capital_summary?.distribution ? (overviewData?.capital_summary?.distribution | getCurrencyByUnits:true:true) : '-'}}</div>
          </div>
          <!-- <div class="separator"></div> -->
          <div class="submetric border-right">
            <div class="submetric-label">Redemption</div>
            <div class="submetric-value">{{ +overviewData?.capital_summary?.capital_redeemed ? (overviewData?.capital_summary?.capital_redeemed | getCurrencyByUnits:true:true) : '-'}}</div>
          </div>
          <!-- <div class="separator"></div> -->
          <div class="submetric border-right">
            <div class="submetric-label">Residual Value</div>
            <div class="submetric-value">{{ (overviewData?.metadata?.residual_value | getCurrencyByUnits:true:true) || '-' }}</div>
          </div>
          <!-- <div class="separator"></div> -->
          <div class="submetric">
            <div class="submetric-label">TVPI</div>
            <div class="submetric-value">{{ overviewData.metadata.tvpi }}</div>
          </div>
        </div>
      </div>
      <!-- Gross IRR Card -->
      <div class="main-metric-card gross-irr-card">
        <div class="gross-irr-metrics-container">
          <div class="gross-irr-metric-group">
            <div class="metric-header">
              <div class="metric-icon">
                <img src="./../../../assets/icons1/ChartLine.png" alt="Current Value" width="28" height="28">
              </div>
              <div class="metric-label-seperator"></div>
              <div class="metric-label">Gross IRR</div>
            </div>
            <div class="metric-value">{{ overviewData.metadata.xirr }}</div>
          </div>
          <div class="gross-irr-metric-group">
            <div class="metric-header">
              <div class="metric-icon">
                <img src="./../../../assets/icons1/ChartLine.png" alt="Current Value" width="28" height="28">
              </div>
              <div class="metric-label-seperator"></div>
              <div class="metric-label">Gross MOIC</div>
            </div>
            <div class="metric-value">{{ overviewData.metadata.moic }}</div>
          </div>
        </div>
        <div class="metric-description">
          Indicates the fund's overall performance from invested capital across companies.
        </div>
      </div>
    </div>
</section>
