<section class="distribution-chart">
  <div class="container-fluid">
    <div class="row align-items-center g-3 distribution-header">
      <div class="col-12 padding-0">
        <div class="distribution-title-wrapper">
          <h3 class="distribution-title">{{ title }}</h3>
          <img  src="./../../../../assets/icons1/Info-Black.png" height="22" alt="{{ title }}" data-bs-toggle="tooltip" data-bs-placement="top" title="A breakdown of the portfolio by industry sector (e.g., healthcare, technology, consumer).">
        </div>
      </div>
    </div>

    <div class="chart-background">
      <div class="distribution-body">
      <div class="row g-4 align-items-center">
        <div class="col-12 col-lg-7">
          <div class="chart-container">
            <div class="chart-host" [chart]="chart"></div>
          </div>
        </div>
        <div class="col-12 col-lg-5">
          <div class="chart-legend">
            <h4 class="legend-title">Industry Sectors</h4>
            <div *ngFor="let item of industryData" class="legend-item">
              <div class="legend-color-width">
                <div class="legend-color" [style.background-color]="item.color"></div>
              </div>
              <div class="display-block">
                <div class="legend-label">{{ item.name }}</div>
              </div>
              <span class="legend-percentage">{{ item.percentage }}%</span>
              <!-- <img class="caret-align" src="./../../../../assets/icons1/caret-Down.png" height="6.25" width="12.5" alt=""> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>