<section class="fund-selector-wrapper">
  <div class="container">
    <div class="fund-selector-content">
      <!-- Account ID (top right) -->
      <div class="account-info">
        <span class="account-id">{{ accountId }}</span>
      </div>

      <!-- Fund Selection Area -->
      <div class="fund-selection">
        <!-- Inception Date -->
        <div class="inception-info">
          <span class="inception-date">{{ selectedFund ? (selectedFund.inception_date | date: 'longDate') : '' }}</span>
        </div>

        <!-- Fund Dropdown and Title -->
        <div class="fund-main">
          <div class="fund-dropdown">
            <!-- <button class="fund-dropdown-trigger" aria-label="Select fund">
              <span class="fund-dropdown-label">Select fund</span>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.375 5.75L7 10.125L2.625 5.75" stroke="white" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button> -->
            <div class="dropdown fund-dropdown">
              <button type="button" class="fund-dropdown-trigger dropdown-toggle" data-bs-toggle="dropdown">
                Select fund
              </button>
              <ul class="dropdown-menu">
                <li *ngFor="let fund of fundList" (click)="onFundSelect(fund)">
                  <a class="dropdown-item" href="#">{{ fund.name }}</a>
                </li>
              </ul>
            </div>
          </div>

          <h1 class="fund-title">{{ selectedFund ? selectedFund.name : 'No fund selected' }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<header class="navbar-wrapper">
  <!-- Secondary Navigation Bar -->
  <div class="navbar-secondary">
    <div class="container">
      <nav class="navbar-main-nav">
        <a routerLink="/dashboard" class="nav-link-main" routerLinkActive="active">
          <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1_461)">
              <path
                d="M9.75 4.5H5.25C4.83579 4.5 4.5 4.83579 4.5 5.25V9.75C4.5 10.1642 4.83579 10.5 5.25 10.5H9.75C10.1642 10.5 10.5 10.1642 10.5 9.75V5.25C10.5 4.83579 10.1642 4.5 9.75 4.5Z"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M18.75 4.5H14.25C13.8358 4.5 13.5 4.83579 13.5 5.25V9.75C13.5 10.1642 13.8358 10.5 14.25 10.5H18.75C19.1642 10.5 19.5 10.1642 19.5 9.75V5.25C19.5 4.83579 19.1642 4.5 18.75 4.5Z"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M9.75 13.5H5.25C4.83579 13.5 4.5 13.8358 4.5 14.25V18.75C4.5 19.1642 4.83579 19.5 5.25 19.5H9.75C10.1642 19.5 10.5 19.1642 10.5 18.75V14.25C10.5 13.8358 10.1642 13.5 9.75 13.5Z"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M18.75 13.5H14.25C13.8358 13.5 13.5 13.8358 13.5 14.25V18.75C13.5 19.1642 13.8358 19.5 14.25 19.5H18.75C19.1642 19.5 19.5 19.1642 19.5 18.75V14.25C19.5 13.8358 19.1642 13.5 18.75 13.5Z"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath id="clip0_1_461">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg> -->
            <img src="./../../../assets/icons/SquaresFour.png" alt="Dashboard"  width="24" height="24">
          <span>Dashboard</span>
        </a>

        <a routerLink="#" class="nav-link-main" routerLinkActive="active">
         
          <img src="./../../../assets/icons/ChartDonut.png" alt="Portfolio"  width="24" height="24">
          <span>Portfolio</span>
        </a>

        <a routerLink="#" class="nav-link-main" routerLinkActive="active">
        
          <img src="./../../../assets/icons/ChartPie.png" alt="Documents"  width="24" height="24">
          <span>Documents</span>
        </a>
      </nav>

      <!-- <div class="date-selector">
        <span class="date-text">{{ asOfDate ? 'As of ' + (asOfDate | date: 'longDate') : 'As of March 2025' }}</span>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_1995)">
            <path d="M16.1367 7.27344L9.88672 13.5234L3.63672 7.27344" stroke="white" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath id="clip0_1_1995">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div> -->
       <div class="dropdown fund-dropdown">
              <button type="button" class="fund-dropdown-trigger dropdown-toggle" data-bs-toggle="dropdown">
                {{ asOfDate ? 'As of ' + (asOfDate | date: 'mediumDate') : 'Select Date' }} 
              </button>
              <ul class="dropdown-menu">
                <li *ngFor="let fund of dataDates" (click)="onDateChange(fund)">
                  <a class="dropdown-item">{{ fund | date: 'mediumDate' }}</a>
                </li>
              </ul>
            </div>
    </div>
  </div>

</header>