<section class="portfolio-overview">
  <div class="container padding-top-82">
    <div class="header-content">
      <h2 class="documents-title">Fund Performance</h2>
      <p class="documents-subtitle">See how this fund has evolved over time with detailed performance data.</p>
    </div>
    <div class="overview-header">
      <h3 class="overview-title">Portfolio Overview</h3>
      <img #infoIcon src="../../../../assets/icons1/Info-Black.png" 
           height="22" width="22" 
           [alt]="infoIconAlt" 
           data-bs-toggle="tooltip" 
           data-bs-placement="auto" 
           [title]="infoIconTitle">
    </div>

    <div class="portfolio-metrics">
      <div class="portfolio-metric-card border-right">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
            <img src="./../../../../assets/icons1/total_portfolio_value.png" alt="Total Portfolio" width="25" height="14">
          </div>
          <div class="metric-label-seperator"></div>
          <div class="portfolio-metric-label">Total Portfolio Value</div>
        </div>
        <div class="portfolio-metric-value">{{(totalOverViewInfo['total_value'] ? (totalOverViewInfo['total_value'] | getCurrencyByUnits:true:true:2) : '-' )}}</div>
      </div>

      <div class="portfolio-metric-card border-right">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
            <img src="./../../../../assets/icons1/total_invested.png" alt="Total Invested" width="28" height="28">
          </div>
          <div class="metric-label-seperator"></div>
          <div class="portfolio-metric-label d-flex align-items-center gap-1">
            Total Invested
            <img #infoIcon src="./../../../../assets/icons1/Info-Black-Portfolio.png"
                 [alt]="totalInvestedInfoAlt"
                 width="16" height="16"
                 data-bs-toggle="tooltip"
                 data-bs-placement="auto"
                 [title]="totalInvestedInfoTitle">
          </div>
        </div>
        <div class="portfolio-metric-value">{{(totalOverViewInfo['total_cost'] ? (totalOverViewInfo['total_cost'] | getCurrencyByUnits:true:true:2) : '-' )}}</div>
      </div>

      <div class="portfolio-metric-card border-right">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
               <img src="./../../../../assets/icons1/overall_moic.png" alt="Overall MOIC" width="28" height="28">
          </div>
          <div class="metric-label-seperator"></div>
          <div class="portfolio-metric-label">Overall MOIC</div>
        </div>
        <div class="portfolio-metric-value">{{(totalOverViewInfo['moic'] ? (totalOverViewInfo['moic'] | getCurrencyByUnits:false:false:2:true) + 'x' : '-' )}}</div>
      </div>

      <div class="portfolio-metric-card">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
                <img src="./../../../../assets/icons1/ChartLineUp1.png" alt="Total Gains" width="28" height="28">
          </div>
          <div class="metric-label-seperator"></div>
          <div class="portfolio-metric-label">Total Gains</div>
        </div>
        <div class="portfolio-metric-value">{{(totalOverViewInfo['totalGain'] ? (totalOverViewInfo['totalGain'] | getCurrencyByUnits:true:true:2) : '-' )}}</div>
      </div>
    </div>
  </div>
</section>
